streamlit
autogen-agentchat
google-generativeai
ag2[gemini]

# word cloud 
beautifulsoup4
wordcloud
nltk>=3.5

# action items 
flask
python-dateutil
watchdog
markdown2

# word & PDF Processing
python-docx     
pymupdf          
dateparser
PyPDF2