streamlit
autogen-agentchat
google-generativeai
ag2[gemini]
langchain
langchain-community
transformers

# action items 
flask
python-dateutil
watchdog
markdown2

# word & PDF Processing
python-docx     
pymupdf          
dateparser
PyPDF2
