streamlit
openai
autogen-agentchat
autogen-ext[openai]
ag2[gemini]
ag2[openai]

# word cloud 
beautifulsoup4
wordcloud
nltk>=3.5

# action items 
flask
python-dateutil
watchdog
markdown2

# === Word & PDF Processing ===
python-docx      # For .docx files
pymupdf          # For PDF parsing using fitz (PyMuPDF)
dateparser
PyPDF2